# Concatination

In [ ]:
a=4
b=8
print(f'The variables are {a} and {b}')
print(f'The value of a is {a} and b is {b}')

The variables are 2 and 8
The value of a is 2 and b is 8

In [12]:
#int value, pass by reference
a=10;b=20
print("value of a {} and value of b {}".format(a,b))
print("value of a {} and value of b {}".format(b,a))
print("value of a {1} and value of b {0}".format(b,a)) #indexing
print(a,b)


#string value
my = 'country';name_is='India'
print('i love my {1}, name is {0}'.format(name_is,my))

value of a 10 and value of b 20
value of a 20 and value of b 10
value of a 10 and value of b 20
10 20
i love my country, name is India

In [14]:
# print without reference variable or pass by value
print("my name is {},{} from {}".format("Bill","Gate","Microsoft"))

my name is Bill,Gate from Microsoft

In [15]:
# input enter by user
num = int(input("Enter a Value:"))
print(num)

Enter a Value: 56

56

In [19]:
num = input("Enter a value:")
print(num)

Enter a value: hello

hello

In [23]:
# enter multiple variable
x=input("Enter 1st digit of PIN no:"),input("Enter 2nd digit of PIN no:"),input("Enter 3rd digit of PIN no:"),input("Enter 4th digit of PIN number:")
print(x)

Enter 1st digit of PIN no: 1
Enter 2nd digit of PIN no: 2
Enter 3rd digit of PIN no: 3
Enter 4th digit of PIN number: 4

('1', '2', '3', '4')

# Operators

In [24]:
a=13
b =3 
print(a+b)
print(a-b)
print(a*b)

16
10
39

# Logical Operator

In [25]:
a = True
b = False
print(a,b)
print(not b)
print(a or b)
print(a and b)

True False
True
True
False

In [28]:
# identity operator
A=5
B=3
print(id(A))
print(id(B))
print(type(A))
print(type(B))

print(A is not B)

140720403305384
140720403305320
<class 'int'>
<class 'int'>
True

In [30]:
L1=[1,2,3]
L2=[1,2,3]
print(id(L1))
print(id(L2))
print(L1 is L2)

1378088083776
1378082091776
False

In [35]:
L4 = {1,2,3,4}
print(4 in L4)

True

In [38]:
L5 = {2:"a",1:"b"}
print(1 in L5)

True

# Flowchart

In [45]:
x =20
if(x>0):
    print("x is positive no")
else:
    print("x is negative no")

x is positive no

In [44]:
x =10
if None: #(None, 0 ,-1) : it will not allow to get into loop
    print("number is positive") # tab or four space required else will get exception indentation.
print("This will print always")

This will print always

In [48]:
# Nested Loop
num = int(input("Enter Student Marks:"))
if(num>=90 and num<100):
                print("A Grade")
elif(num >=80 and num<90):
                print("B Grade")
elif(num >=70 and num<80):
                print("C Grade")
elif(num>=60 and num<70):
                print("D Grade")
else:
                print("Fail")

Enter Student Marks: 23

Fail

In [60]:
a=int(input("enter first no:"));b=int(input("enter second no:"));c=int(input("enter third no:"))
if (a >=b and a>=c):
    print("{} is the largest number".format(a))
elif(b>=a and b >=c):
    print("{} is the largest number".format(b))
else:    
    print("{} is the largest number".format(c))

enter first no: 89
enter second no: 78
enter third no: 56

89 is the largest number

In [61]:
# case2 
num =20
if(num>10 or 10>num):
    if (num >20):
        print("number is positive")
    else:
        print("2nd Division")
else:
    print("fail")

2nd divison

# For Loop

In [62]:
a = [10,20,30,40,50]
product =2
for ele in a:
    product *=ele
    print(product)

20
400
12000
480000
24000000

In [67]:
for i in range(1,10,2): # pass by value
    print(i)

1
3
5
7
9

In [69]:
x=[1,2,3,4]
for data in x:
    print(data)
else:
    print("no data available in x")

1
2
3
4
no data available in x

# Odd Or even Program

In [72]:
L8=[]
L9=[]
for i in range(1,61):
    if(i%2==0):
        L8.append(i)
    else:
        L9.append(i)
print("Even list:",L8)
print("Odd List:", L9)

Even list: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]
Odd List: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59]

# String Reverse

In [74]:
name = "Pradul"
reversed_string = name[::-1]
print("String:",name)
print("Reversed String:",reversed_string)

String: Pradul
Reversed String: ludarP

# Palindrome

In [80]:
item='malayalam'
rev = item[::-1]
if(item == rev):
    print("It is a Palindrome")
else:
    print("It is not palindrome")

It is a Palindrome

# Prime number

In [98]:
def is_prime(n):
    if n<2:
        return False
    else:  
        for i in range(2,int(n**0.5)+1):
            if n%i==0:
                return False
        return True        
                

n=int(input())
if(is_prime(n)):
    print(f"{n} is prime number")
else:
    print(f"{n} is not prime number")

 8

8 is not prime number

# Fibanocci

In [6]:
n=10
a=0;b=1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

0 1 1 2 3 5 8 13 21 34

# Function

In [94]:
def get_sum(lst):
    all=0
    for ele in lst:
        all+=ele
        print(all,end=' ')
    print()
    return all


lst1= get_sum([1,2,3,4])
print(lst1)

1 3 6 10
10

In [105]:
global_var="this is global variable"
def lst():
    local_var='this is local variable'
    print(global_var)
    print(local_var)
lst()

print(global_var)
#print(local_var)

this is global variable
this is local variable
this is global variable

In [115]:
a=36
b=24
while b!=0:
    remainder=a%b
    a,b=b,remainder
    
print("HCF is:",a)

HCF is: 12

# IN BUILT FUNCTIONS

In [116]:
#abs()
lst = -100
print(abs(lst))

100

In [126]:
#all(), True if all element iterable are true. Faslse if any element is 0
lst=[1,2,3,4,-4,0]
print(all(lst))

False

In [120]:
lst1=[2,3,5,7]
print(all(lst1))

True

In [119]:
lst2=[]
print(all(lst2))

True

In [124]:
#dir()
lst=[]
print(type(lst))

print(dir(lst))
print("=============+++==")
lst2=tuple(lst)
print(type(lst2))

print(dir(lst2))

<class 'list'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
=============+++==
<class 'tuple'>
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [127]:
#divmod
print(divmod(13,2))

(6, 1)

In [128]:
#enumerate()
lst = [10,20,30,40,50]
for index, num in enumerate(lst,start=0):
    print("index {0} has value {1}".format(index,num))

index 0 has value 10
index 1 has value 20
index 2 has value 30
index 3 has value 40
index 4 has value 50

In [130]:
#Filter
def check_positive_no(num):
            if num > 0:
                return num

In [137]:
list1_list=range(-10,10)
#list_positive=list(filter(check_positive_no,list1_list))
#list_positive=list(filter(lambda x:x>0,list1_list))
list_positive=list(filter(lambda n:n%2!=0,list1_list))

for i in list_positive:
    print(i)

-9
-7
-5
-3
-1
1
3
5
7
9

In [138]:
#isinstance()
lst=[1,2,3,4]
print(isinstance(lst,list))

True

In [140]:
#map
lst=[1,2,3,4]
squared=[]
squared1=[]
for num in lst:
    squared.append(num**2)
    squared.append(num**3)
print(squared)
print(squared1)

[1, 1, 4, 8, 9, 27, 16, 64]
[]

In [142]:
def hallsquare(num):
    return (num**2)

hallsquare(6)

36

In [144]:
squared=list(map(lambda x:x**2,[1,2,3,4]))
print(squared)

[1, 4, 9, 16]

In [145]:
#reduce
product = 1
lst = [1,2,3,4]
for num in lst:
    product *=num
print(product)

24

In [154]:
from functools import reduce

def multiply(x,y):
    return x*y
multiply(4,5)

20

In [149]:
product = reduce(lambda x,y:x*y,lst)
print(product)

24

In [155]:
#reduce work on double argument , Map work on single argument, filter work on single argument

# Calculator

In [2]:
from functools import reduce
while True:
    try:
        x, y = int(input("Enter the first number: ")), int(input("Enter the second number: "))
        print("OPERATIONS: 1.ADD 2.SUBTRACT 3.MULTIPLY 4. DIVIDE") 
        print("----------------------------------------------------")
        opt= int(input("Enter the Operation:"))
        if opt == 1:
            print(f"Answer: {reduce(lambda a, b: a + b, [x, y])}")
        elif opt == 2:
            print(f"Answer: {reduce(lambda a, b: a - b, [x, y])}")
        elif opt == 3:
            print(f"Answer: {reduce(lambda a, b: a * b, [x, y])}")
        elif opt == 4:
            print(f"Answer: {reduce(lambda a, b: a // b, [x, y])}") 
        else:
            print("Invalid input")
        break;   
    except ValueError:
        print("Value Error Occurred")

Enter the first number:  hbh

Value Error Occurred

Enter the first number:  1
Enter the second number:  2xx

Value Error Occurred

Enter the first number:  1
Enter the second number:  2

OPERATIONS: 1.ADD 2.SUBTRACT 3.MULTIPLY 4. DIVIDE
----------------------------------------------------

Enter the Operation: 4

Answer: 0

In [6]:
# default argument
#Case1
def say(x,y=1,z=4):
    prod = x+y+z
    return prod


say(2,z=5)

8

In [7]:
#Case2
def say(x,y=1,z=4):
    prod = x+y+z
    return prod


say(2)

7

In [9]:
#Case3
def say(x,y,z):
    prod = x+y+z
    return prod


say(2,4,5)

11

In [11]:
#Case4
def say(x,y=1,z):
    prod = x+y+z
    return prod


say(2,4)

SyntaxError: non-default argument follows default argument (1522547323.py, line 2)

In [13]:
#Case5
def say(x,y,z):
    prod = x+y+z
    return prod


say(2,4,z=2)

8

In [2]:
#Case6 - error
def say(x=1,y):
    prod = x+y
    return prod


say(1,2)

SyntaxError: non-default argument follows default argument (2731245684.py, line 2)

In [5]:
#Case6
def say(x,y=1):
    prod = x+y
    return prod


say(1)

2

# Python Files

In [61]:
import os
os.getcwd()

'C:\\Users\\User'

In [62]:
# writing to a file
os.getenv("C:\\Users\\Administrator") # tell ur home directory
lst = open("my3.txt","w") #create a file on home directory
lst.write("this is 1st module2 \n") # this will write 1st line in file
lst.write("This is 2nd module") # this will write 2nd line in file
lst.close() # always run this command make sure file get back to disk & its safe.

In [63]:
#reading from a file
lst = open("my3.txt","r")
lst.read()

'this is 1st module2 \nThis is 2nd module'

In [64]:
lst = open("my3.txt","r")
lst.read(4)

'this'

In [65]:
lst = open("my3.txt","r")
lst.read(8)

'this is '

In [66]:
lst.tell() # this will tell your pointer position

8

In [67]:
lst.seek(2) # it will set again pointer position to initial position

2

In [68]:
print(lst.read())

is is 1st module2
This is 2nd module

In [69]:
lst.seek(0)
for line in lst:
    print(line)

this is 1st module2

This is 2nd module

In [70]:
lst=open("my3.txt","r")
lst.readline()

'this is 1st module2 \n'

In [71]:
lst.readline()
lst.close()

In [72]:
# reanme files
import os
os.rename("my3.txt","sample.txt")

In [73]:
lst = open("sample.txt","r")
print(lst.readlines())

['this is 1st module2 \n', 'This is 2nd module']

In [88]:
# remove a file
os.remove("sample.txt")

# Python directories

In [89]:
import os
os.getcwd()

'C:\\Users\\Administrator'

In [91]:
os.chdir("C:\\Users\\User")

In [92]:
os.getcwd()

'C:\\Users\\User'

In [95]:
os.mkdir("Pradul")

In [96]:
# list of files and directory
os.listdir(os.getcwdb())

[b'3D Objects',
 b'AppData',
 b'Application Data',
 b'Contacts',
 b'Cookies',
 b'Desktop',
 b'Documents',
 b'Downloads',
 b'Favorites',
 b'Links',
 b'Local Settings',
 b'Music',
 b'My Documents',
 b'NetHood',
 b'NTUSER.DAT',
 b'ntuser.dat.LOG1',
 b'ntuser.dat.LOG2',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 b'ntuser.ini',
 b'OneDrive',
 b'Pictures',
 b'Pradul',
 b'PrintHood',
 b'Recent',
 b'sample.txt',
 b'Saved Games',
 b'Searches',
 b'SendTo',
 b'Start Menu',
 b'Templates',
 b'Videos']

In [97]:
os.rmdir("Pradul")

In [98]:
os.listdir(os.getcwdb())

[b'3D Objects',
 b'AppData',
 b'Application Data',
 b'Contacts',
 b'Cookies',
 b'Desktop',
 b'Documents',
 b'Downloads',
 b'Favorites',
 b'Links',
 b'Local Settings',
 b'Music',
 b'My Documents',
 b'NetHood',
 b'NTUSER.DAT',
 b'ntuser.dat.LOG1',
 b'ntuser.dat.LOG2',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 b'ntuser.ini',
 b'OneDrive',
 b'Pictures',
 b'PrintHood',
 b'Recent',
 b'sample.txt',
 b'Saved Games',
 b'Searches',
 b'SendTo',
 b'Start Menu',
 b'Templates',
 b'Videos']

# Assignment

In [113]:
import os
os.getcwd()
os.mkdir("Pradul")

In [114]:
os.listdir(os.getcwdb())

[b'3D Objects',
 b'AppData',
 b'Application Data',
 b'Contacts',
 b'Cookies',
 b'Desktop',
 b'Documents',
 b'Downloads',
 b'Favorites',
 b'Links',
 b'Local Settings',
 b'Music',
 b'My Documents',
 b'my_file.txt',
 b'NetHood',
 b'NTUSER.DAT',
 b'ntuser.dat.LOG1',
 b'ntuser.dat.LOG2',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 b'ntuser.ini',
 b'OneDrive',
 b'Pictures',
 b'Pradul',
 b'PrintHood',
 b'Recent',
 b'sample.txt',
 b'Saved Games',
 b'Searches',
 b'SendTo',
 b'Start Menu',
 b'Templates',
 b'Videos']

In [117]:
os.chdir("C:/Users/User/Pradul")
file1 = open("my_file.txt","w")
file1.write("Hello i Am user")
file1.close()

In [127]:
file1 = open("my_file.txt","r")
file1.read()

'Hello i Am user'

In [129]:
file1.close()

In [130]:
os.getcwd()

'C:\\Users\\user'

In [132]:
os.chdir("C:\\Users\\user")
os.getcwd()

'C:\\Users\\user'

In [133]:
import shutil
shutil.rmtree("Pradul")

In [134]:
os.listdir(os.getcwdb())

[b'3D Objects',
 b'AppData',
 b'Application Data',
 b'Contacts',
 b'Cookies',
 b'Desktop',
 b'Documents',
 b'Downloads',
 b'Favorites',
 b'Links',
 b'Local Settings',
 b'Music',
 b'My Documents',
 b'my_file.txt',
 b'NetHood',
 b'NTUSER.DAT',
 b'ntuser.dat.LOG1',
 b'ntuser.dat.LOG2',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 b'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 b'ntuser.ini',
 b'OneDrive',
 b'Pictures',
 b'PrintHood',
 b'Recent',
 b'sample.txt',
 b'Saved Games',
 b'Searches',
 b'SendTo',
 b'Start Menu',
 b'Templates',
 b'Videos']

# Python In-built errors

In [135]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

# Exception Handling

In [138]:
#import module sys to get the type of exception
import sys
lst = ['b',0,2]
for entry in lst:
    try:
        print("Value is:",entry)
        k=1/int(entry)
    except:
        print(f"Oops {sys.exc_info()}occured")
        print("next entry")
        print("==================================")
print(f"The reciprocal of {entry} is {k}")

Value is: b
Oops (<class 'ValueError'>, ValueError("invalid literal for int() with base 10: 'b'"), <traceback object at 0x000001C624E79900>)occured
next entry
==================================
Value is: 0
Oops (<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x000001C624E7A8C0>)occured
next entry
==================================
Value is: 2
The reciprocal of 2 is 0.5

In [140]:
lst = ['b',0,2]
for entry in lst:
    try:
        print("==================")
        print("Value is:",entry)
        k=1/int(entry)
    except(ValueError):
        print("This is valueError")
    except(ZeroDivisionError):
        print("ZeroDivisionError")
    except:
        print("Other Error")
        
print(f"The reciprocal of {entry} is {k}")

==================
Value is: b
This is valueError
==================
Value is: 0
ZeroDivisionError
==================
Value is: 2
The reciprocal of 2 is 0.5

In [171]:
#try finally
import os
os.chdir("C:\\Users\\user")
try:
    f=open("samples.txt",'r')
    # perform file operation
finally:
    f.read()
    os.getcwd()
    print("file closed")
    f.close()

file closed

FileNotFoundError: [Errno 2] No such file or directory: 'samples.txt'

In [160]:
os.getcwd()

'C:\\Users\\user'

In [161]:
os.listdir(os.getcwd())

['3D Objects',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'my_file.txt',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'sample.txt',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Videos']

In [170]:
try:
    f=open("samples.txt","r")
    f.read()
except:
    print("something went wrong")

something went wrong

# Logging

In [179]:
import logging
logging.basicConfig(level=logging.INFO)
logging.debug("This is a debug message")
logging.info("App started")
logging.warning("This is a warning")
logging.error("An error occured")
logging.critical("Critical issue")

INFO:root:App started
WARNING:root:This is a warning
ERROR:root:An error occured
CRITICAL:root:Critical issue

# Data Analysis

In [6]:
import pandas as pd
df=pd.read_csv("nyc_weather.csv")
df.head(10)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109

In [7]:
df.tail(30)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [9]:
df.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [10]:
df.Humidity

0     52
1     46
2     47
3     44
4     41
5     35
6     33
7     64
8     77
9     71
10    37
11    53
12    42
13    47
14    62
15    70
16    66
17    53
18    42
19    49
20    45
21    41
22    78
23    53
24    54
25    56
26    45
27    51
28    50
29    46
30    52
Name: Humidity, dtype: int64

In [19]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [20]:
df.count() #column wise record count

EST                     31
Temperature             31
DewPoint                31
Humidity                31
Sea Level PressureIn    31
VisibilityMiles         31
WindSpeedMPH            28
PrecipitationIn         31
CloudCover              31
Events                   9
WindDirDegrees          31
dtype: int64

In [21]:
df.Temperature.count()

np.int64(31)

In [26]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [29]:
df.shape

(31, 11)

In [22]:
df.WindSpeedMPH

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      NaN
10     NaN
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     NaN
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

In [23]:
df.WindSpeedMPH.isna()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
Name: WindSpeedMPH, dtype: bool

In [25]:
df.WindSpeedMPH.isna().sum()

np.int64(3)

In [31]:
df.dtypes

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

In [32]:
df.Events.unique()

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

In [33]:
df.Events.describe()

count        9
unique       3
top       Rain
freq         4
Name: Events, dtype: object

In [34]:
df.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [41]:
df['Temperature'].max()

np.int64(50)

In [42]:
df['Temperature'].min()

np.int64(20)

In [43]:
df1=df['Temperature']>30
df1

0      True
1      True
2      True
3     False
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19     True
20     True
21    False
22    False
23    False
24     True
25     True
26     True
27     True
28     True
29     True
30     True
Name: Temperature, dtype: bool

In [44]:
df1.sum()

np.int64(22)

In [50]:
# To know which date it rains
df['EST'][df["Events"]=="Rain"]

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [46]:
df['EST'][df["Humidity"]==70]

15    1/16/2016
Name: EST, dtype: object

In [47]:
df['EST'][df["Humidity"]>=70]

8      1/9/2016
9     1/10/2016
15    1/16/2016
22    1/23/2016
Name: EST, dtype: object

In [48]:
df['EST'][df["WindSpeedMPH"]==7.0]

1      1/2/2016
15    1/16/2016
25    1/26/2016
26    1/27/2016
29    1/30/2016
Name: EST, dtype: object

# Series

In [56]:
import pandas as pd
l1=[1,2,3]
ser = pd.Series(l1,index=['1st',2,'3rd'],name='c1')
print(ser)

1st    1
2      2
3rd    3
Name: c1, dtype: int64

In [58]:
print(pd.__version__)

2.2.3

In [57]:
s=pd.Series([10,20,30,40,50,60])
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64 <class 'pandas.core.series.Series'>

In [59]:
print(s.loc[0:4])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [62]:
lst=(10,20,30,40,50,60)
s=pd.Series(lst,dtype='float32')
print(s,type(s))

0    10.0
1    20.0
2    30.0
3    40.0
4    50.0
5    60.0
dtype: float32 <class 'pandas.core.series.Series'>

In [63]:
s[3]

np.float32(40.0)

In [64]:
ser['1st']

np.int64(1)

In [66]:
s.shape

(6,)

In [70]:
lst=[10,"Rossum",34.56,"Author"]
s=pd.Series(lst,index=["Stno","Name","Marks","Desg"])
print(s,type(s))

Stno         10
Name     Rossum
Marks     34.56
Desg     Author
dtype: object <class 'pandas.core.series.Series'>

In [71]:
s['Stno']

10

In [72]:
d1={"sub1":"Python","sub2":"java","sub3":"Data Science","sub4":"ML"}
print(d1,type(d1))

{'sub1': 'Python', 'sub2': 'java', 'sub3': 'Data Science', 'sub4': 'ML'} <class 'dict'>

In [73]:
d1.items()

dict_items([('sub1', 'Python'), ('sub2', 'java'), ('sub3', 'Data Science'), ('sub4', 'ML')])

In [74]:
d1.keys()

dict_keys(['sub1', 'sub2', 'sub3', 'sub4'])

In [75]:
d1.values()

dict_values(['Python', 'java', 'Data Science', 'ML'])

In [77]:
d1={"sub1":"Python","sub2":"java","sub3":"Data Science","sub4":"ML"}
s=pd.Series(d1)
print(s)

sub1          Python
sub2            java
sub3    Data Science
sub4              ML
dtype: object

In [78]:
s['sub4']

'ML'

In [80]:
import numpy as np
nu=np.array([1,2,3])
pd.Series(nu)

0    1
1    2
2    3
dtype: int64

# DataFrame

In [81]:
# Creating a dataframe using list and tuple
lst=[[1,0,1,3],[10,20,30,40],[10,20,30,40]]
df=pd.Series(lst)
print(df)

0        [1, 0, 1, 3]
1    [10, 20, 30, 40]
2    [10, 20, 30, 40]
dtype: object

In [82]:
lst=[[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]
df=pd.DataFrame(lst)
print(df)

    0    1
0  10   RS
1  20   JG
2  30  MCK
3  40  TRA

In [83]:
df.iloc[1:,:]

    0    1
1  20   JG
2  30  MCK
3  40  TRA

In [84]:
df.iloc[3,1]

'TRA'

In [86]:
lst=[[10,'RS'],[20,'JG'],[30,'MCK'],[40,'TRA']]
df=pd.DataFrame(lst,columns=["Rno","Name"],index=['1',20,30,'four'])
print(df)

      Rno Name
1      10   RS
20     20   JG
30     30  MCK
four   40  TRA

In [95]:
df.loc['four']

Rno      40
Name    TRA
Name: four, dtype: object

In [97]:
tpl = (("Rossum",75),("Gosling",85),("Travis",65),("Ritche",95),("MCKinney",69))
df = pd.DataFrame(tpl, index=[1,'@',3,4,5],columns=['Name','Age'])
print(df)

       Name  Age
1    Rossum   75
@   Gosling   85
3    Travis   65
4    Ritche   95
5  MCKinney   69

In [98]:
df['Salary']=[1,2,3,4,5]
df

       Name  Age  Salary
1    Rossum   75       1
@   Gosling   85       2
3    Travis   65       3
4    Ritche   95       4
5  MCKinney   69       5

In [100]:
df.drop('Salary',axis=1,inplace=True)

In [101]:
df

       Name  Age
1    Rossum   75
@   Gosling   85
3    Travis   65
4    Ritche   95
5  MCKinney   69

# create a dataframe object using dict

In [111]:
dictdata={"Names":["Rossum","Gosling","Ritche","McKinney"],"Subjects":["Python","Java","C","Pandas"],"Ages":[65,80,85,55]}
print(dictdata)

{'Names': ['Rossum', 'Gosling', 'Ritche', 'McKinney'], 'Subjects': ['Python', 'Java', 'C', 'Pandas'], 'Ages': [65, 80, 85, 55]}

In [112]:
dictdata.values()

dict_values([['Rossum', 'Gosling', 'Ritche', 'McKinney'], ['Python', 'Java', 'C', 'Pandas'], [65, 80, 85, 55]])

In [113]:
dictdata.keys()

dict_keys(['Names', 'Subjects', 'Ages'])

In [114]:
df = pd.DataFrame(dictdata)
df

      Names Subjects  Ages
0    Rossum   Python    65
1   Gosling     Java    80
2    Ritche        C    85
3  McKinney   Pandas    55

In [115]:
df.shape

(4, 3)

In [110]:
df=pd.DataFrame(dictdata,index=[1,2,3,'e'])
print(df)

      Names Subjects  Ages
1    Rossum   Python    65
2   Gosling     Java    80
3    Ritche        C    85
e  McKinney   Pandas    55

# create an object using DataFrame by using Series Object

In [117]:
l1 = [10,20,30,40,50]
sdata=pd.Series(l1)
print(sdata)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [119]:
df=pd.DataFrame(sdata,columns=["number"])
print(df)

   number
0      10
1      20
2      30
3      40
4      50

In [120]:
df.shape

(5, 1)

In [121]:
type(df)

pandas.core.frame.DataFrame

In [122]:
d1 = {"totalmarks":[100,110,120,130],"ExtMarks":[80,75,65,90]}
df = pd.DataFrame(d1,index=[1,2,3,4])
print(df)

   totalmarks  ExtMarks
1         100        80
2         110        75
3         120        65
4         130        90

In [123]:
df.iloc[3:,:]

   totalmarks  ExtMarks
4         130        90

In [124]:
df.columns

Index(['totalmarks', 'ExtMarks'], dtype='object')

In [125]:
df['C3']=df['totalmarks']+df['ExtMarks']
df

   totalmarks  ExtMarks   C3
1         100        80  180
2         110        75  185
3         120        65  185
4         130        90  220

In [126]:
df['new column']=[1,2,3,4]

In [127]:
df

   totalmarks  ExtMarks   C3  new column
1         100        80  180           1
2         110        75  185           2
3         120        65  185           3
4         130        90  220           4

In [128]:
df['new data']=['1st','2nd','3rd','4th']
df

   totalmarks  ExtMarks   C3  new column new data
1         100        80  180           1      1st
2         110        75  185           2      2nd
3         120        65  185           3      3rd
4         130        90  220           4      4th

In [132]:
df["Roll_No"]=range(1,5)
df

   totalmarks  ExtMarks   C3  new column new data  Roll_No
1         100        80  180           1      1st        1
2         110        75  185           2      2nd        2
3         120        65  185           3      3rd        3
4         130        90  220           4      4th        4

In [133]:
df =df[["Roll_No",'totalmarks','ExtMarks','new data']]
df

   Roll_No  totalmarks  ExtMarks new data
1        1         100        80      1st
2        2         110        75      2nd
3        3         120        65      3rd
4        4         130        90      4th

In [135]:
df1 = df[["Roll_No","totalmarks"]]
df1

   Roll_No  totalmarks
1        1         100
2        2         110
3        3         120
4        4         130

# Sorting

In [137]:
d={"Names":["Rossum","Gosling","Ritche","McKinney"],"Subjects":["Python","Java","C","Pandas"],"Ages":[65,80,85,55]}
df=pd.DataFrame(d,index=[1,2,3,4])
df

      Names Subjects  Ages
1    Rossum   Python    65
2   Gosling     Java    80
3    Ritche        C    85
4  McKinney   Pandas    55

In [138]:
df =df.sort_values(["Names"],ascending=True)
df

      Names Subjects  Ages
2   Gosling     Java    80
4  McKinney   Pandas    55
3    Ritche        C    85
1    Rossum   Python    65

In [140]:
df =df.sort_values(["Ages"],ascending=False)
df

      Names Subjects  Ages
3    Ritche        C    85
2   Gosling     Java    80
1    Rossum   Python    65
4  McKinney   Pandas    55

# IPL DATA ANALYSIS

In [190]:
import pandas as pd
df = pd.read_csv("IPL Matches 2008-2020.csv")
df.head(10)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba

In [153]:
!pip install scipy

Requirement already satisfied: scipy in c:\program files\python311\lib\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\program files\python311\lib\site-packages (from scipy) (2.2.5)

[notice] A new release of pip available: 22.3 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [191]:
df.sort_values(["team1"],ascending=False)
df.head(10)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan
5,335987,Jaipur,2008-04-21,SR Watson,Sawai Mansingh Stadium,0,Rajasthan Royals,Kings XI Punjab,Kings XI Punjab,bat,Rajasthan Royals,wickets,6.0,N,NaN,Aleem Dar,RB Tiffin
6,335988,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
7,335989,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
8,335990,Hyderabad,2008-04-24,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,N,NaN,Asad Rauf,MR Benson
9,335991,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba

In [166]:
df.isna()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False
812,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
813,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
814,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False
815,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,False

In [192]:
df.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [194]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2'],
      dtype='object')

In [168]:
df.dtypes

id                   int64
city                object
date                object
player_of_match     object
venue               object
neutral_venue        int64
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
method              object
umpire1             object
umpire2             object
dtype: object

In [170]:
df['id']=df['id'].astype('float')
df.dtypes

id                 float64
city                object
date                object
player_of_match     object
venue               object
neutral_venue        int64
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
method              object
umpire1             object
umpire2             object
dtype: object

In [188]:
df['method']=df['method'].fillna('Dubai')
df['method']

0      Dubai
1      Dubai
2      Dubai
3      Dubai
4      Dubai
       ...
811    Dubai
812    Dubai
813    Dubai
814    Dubai
815    Dubai
Name: method, Length: 816, dtype: object

# Break

In [1]:
x=[1,2,3,4,5]
for data in x:
    if data==3:
        print(data)
        break
    else:
        print("not available")

not available
not available
3

In [20]:
num=int(input("enter a number:"))
isDivisible = False
i=2;
while i < num:
    if num % i==0:
        isDivisible=True
        print("{} is divisible by {}".format(num,i))
        break
    i+=1
if isDivisible:
    print("{} is not a prime number".format(num))

enter a number: 8

8 is divisible by 2
8 is not a prime number

In [39]:
lst=['one','two','three','four']
lst1=['five','six']
lst.append(lst1)
print(lst)

['one', 'two', 'three', 'four', ['five', 'six']]

In [40]:
lst2=['one','two','three','four']
lst3=['five','six']
lst2.extend(lst3)
print(lst2)

['one', 'two', 'three', 'four', 'five', 'six']

In [41]:
del lst2[1]
print(lst2)

['one', 'three', 'four', 'five', 'six']

In [42]:
lst2.pop(4)
print(lst2)

['one', 'three', 'four', 'five']

In [43]:
lst2.reverse()
print(lst2)

['five', 'four', 'three', 'one']

In [44]:
#sorting
a=[1,3,7,0,8]
b=sorted(a)
print(b)

[0, 1, 3, 7, 8]

In [97]:
#sorting
a=[1,3,7,0,8]
b=sorted(a,reverse=True)
print(b)

[8, 7, 3, 1, 0]

In [51]:
# list comprehension
power=[(i**2) for  i in range(10)]
print(power)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [94]:
lst=['one','two','three','four']
if 'two' in lst:
    print("yes")

yes

In [96]:
lst=['one','two','three','four']
if 'five' not in lst:
    print("no")

no

In [99]:
# overidden case
lst=[1,2,3,4,5]
lst1=[]
lst1=lst
lst1.append(4)
lst.append(3)
print(lst)
print(lst1)
print(id(lst1))
print(id(lst))

[1, 2, 3, 4, 5, 4, 3]
[1, 2, 3, 4, 5, 4, 3]
1460112747008
1460112747008

In [101]:
lst='i,am,learning,python'
lst2=lst.split(',')
print(lst2)
print(type(lst))
print(type(lst1))

['i', 'am', 'learning', 'python']
<class 'str'>
<class 'list'>

In [103]:
lst=[1,4,6,4,8,3]
print(lst[1])
print(lst[-4])

4
6

In [105]:
lst=[10,40,60,49,88,30,45]
print(lst[0:4])
print(lst[3:])
print(lst[2:7])

[10, 40, 60, 49]
[49, 88, 30, 45]
[60, 49, 88, 30, 45]

In [106]:
lst.count(88)

1

In [107]:
lst=[10,40,60,49,88,30,45]
lst1=['one','two','three','four']
lst2 =lst+lst1
print(lst2)

[10, 40, 60, 49, 88, 30, 45, 'one', 'two', 'three', 'four']

In [108]:
lst1=['one','two','three','four'] 
for data in lst1:
    print(data)

one
two
three
four

In [110]:
lst=[-10,-20,-30,100,50,50]
lst2=[i*2 for i in lst]
print(lst2)

[-20, -40, -60, 200, 100, 100]

# Tuple

In [56]:
lst=('hi',)
type(lst)

tuple

In [65]:
lst1=('hi',[1,'hello'],3.5,(1,2,'hi'))
print(lst1[1][1])
print(lst1[3][2])
print(lst1[-1][1])
print(lst1[0:3])

hello
hi
2
('hi', [1, 'hello'], 3.5)

In [67]:
lst=(1,2,3,4,5,6,7,8)
lst[2]=5 #tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [70]:
# here we are making changes in value of list, it will change
lst=('hi',[1,'hello'],3.5,'hello')
lst [1][1]='bye'
print(lst)

('hi', [1, 'bye'], 3.5, 'hello')

In [72]:
# Tuple deletion
lst = (1,2,3,4,5,6)
del lst
print(lst)

NameError: name 'lst' is not defined

In [76]:
# tuple count
lst = (1,2,3,4,5,6,6,6)
lst.count(6)

3

In [77]:
# tuple index
lst = (1,2,3,4,5,6,6,6)
lst.index(3)

2

In [79]:
# tuple membership
lst = (1,2,3,4,5,6,6,6)
1 in lst

True

In [80]:
lst = (1,2,3,4,5,6,6,6)
len(lst)

8

In [83]:
lst = (1,9,7,4,5,8)
sorted(lst)

[1, 4, 5, 7, 8, 9]

In [87]:
lst = (1,2,3,4,5,6,6,6)
max(lst)

6

In [88]:
lst = (1,2,3,4,5,6,6,6)
min(lst)

1

In [89]:
lst = (1,2,3,4,5,6,6,6)
sum(lst)

33

In [91]:
import statistics as lst
lst.mean((1,2,3,4,5))

3

In [92]:
import math as lst
lst.factorial(4)

24